diffusers #==0.33.1
safetensors>=0.4.5
transformers>=4.44.0
accelerate>=0.34.2
gradio>=4.44.0
imageio>=2.34.2
imageio-ffmpeg>=0.5.1
controlnet-aux==0.0.9
ftfy>=6.3.1
sentencepiece>=0.2.0
moviepy==1.0.3
decord
mediapipe
wandb